$primary-color: #f08221;
$success-color: #198754;
$info-color: #0dcaf0;
$warning-color: #ffc107;

@font-face {
  font-family: 'Handel Gothic Italic';
  src: local('Handel Gothic Italic'), url('../fonts/handel-gothic-italic.ttf') format("truetype");
}

.ml-auto {
  margin-left: auto !important;
}
a {
  color: #ffffff80;
  &:hover {
    color: #fff;
  }
}
.active {
  a {
    color: #fff;
  }
}
.section {
  position: relative;
  height: 100vh;
  .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
#booking {
  font-family: "Lato", sans-serif;
  background-size: cover;
  background-position: center;
  color: #191a1e;
}
.booking-form {
  position: relative;
  background: #fff;
  max-width: 642px;
  width: 100%;
  margin: auto;
  padding: 45px 25px 25px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  select.form-control + .select-arrow {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: #dfe5e9;
    font-size: 14px;
    &:after {
      content: "\279C";
      display: block;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}
.booking-cta {
  margin-top: 45px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  h1 {
    font-size: 52px;
    text-transform: uppercase;
    color: #f08221;
    font-weight: 400;
    text-align: center;
  }
  p {
    font-size: 22px;
    color: #191a1e;
    text-align: center;
  }
}

// admin page
.primary-card {
  border-left: 4px solid $primary-color;
}
.success-card {
  border-left: 4px solid $success-color;
}
.info-card {
  border-left: 4px solid $info-color;
}
.warning-card {
  border-left: 4px solid $warning-color;
}

.form-floating.errorlist {
  display: None;
}

.progress-bar,
.btn-primary,
.btn-primary:hover,
.bg-primary,
.page-link,
.form-check-input {
  background-color: $primary-color !important;
}

.btn-primary,
.page-link,
.form-check-input {
  border-color: $primary-color!important;
}

.nav-link:hover {
  color: white;
}

label {
 &[for=id_confirmation_required],
 &[for=id_disable_weekend],
 &[for=id_start_time],
 &[for=id_end_time],
 &[for=id_period_of_each_booking],
 &[for=id_max_booking_per_time] {
  font-size: 0;
  &::before {
    font-size: 16px;
  }
 }

 &[for=id_confirmation_required] {
  &::before {
    content: 'Confirmação de consulta';
  }
 }

 &[for=id_disable_weekend] {
  &::before {
    content: 'Desabilitar fim de semana';
  }
 }

 &[for=id_start_time] {
  &::before {
    content: 'Horário inicial';
  }
 }

 &[for=id_end_time] {
  &::before {
    content: 'Horário final';
  }
 }

 &[for=id_period_of_each_booking] {
  &::before {
    content: 'Período de cada agendamento';
  }
 }

 &[for=id_max_booking_per_time] {
  &::before {
    content: 'Máximo de agendamento por horário';
  }
 }
}

#time-list {
  p#time-1030,
  p#time-1130,
  p#time-1230,
  p#time-1530,
  p#time-1630,
  p#time-1730,
  p#time-1830 {
    display: none;
  }
}

#title-date,
#title-time,
#title-user-info {
  font-size: 0;
}

#title-date {
  &::before {
    content: "Data";
    font-size: 2rem;
  }
}

#title-time {
  &::before {
    content: "Horário";
    font-size: 2rem;
  }
}

#title-user-info {
  &::before {
    content: "Dados do Cliente";
    font-size: 2rem;
  }
}